{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "parserOptions": {
    "project": [
      "./tsconfig.json",
      "./tests/tsconfig.json"
    ]
  },
  "plugins": [
    "@typescript-eslint",
    "jest",
    "import"
  ],
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:jest/recommended",
    "plugin:jest/style"
  ],
  "rules": {
    "max-len": [
      "warn",
      {
        "code": 80,
        "tabWidth": 2,
        "ignoreComments": true
      }
    ],
    // Already covered by TypeScript compiler
    "import/default": "off",
    // Already covered by TypeScript compiler
    "import/no-unresolved": "off",
    "import/order": [
      "error",
      {
        "alphabetize": {"order": "asc"}
      }
    ],
    "no-use-before-define": "off",
    "@typescript-eslint/require-await": "off",
    "@typescript-eslint/no-use-before-define": "warn",
    "@typescript-eslint/no-unused-vars": [
      "warn", { "argsIgnorePattern": "^_" }
    ],
    "@typescript-eslint/lines-between-class-members": "off"
  }
}
